@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,800&display=swap');

*{
     margin: 0;
     padding: 0;
}
main{
     display: grid;
     grid-template-columns: repeat(1,1fr);
     width: 100%;
     height: 100vh;
     overflow-x: hidden;
     font-family: 'Poppins', sans-serif;
}
/* main__imgLeft */
.main__imgLeft{
     width: 100%;
     height: 100%;
     display: flex;
     height: 200px;
     align-items: center;
     background:url(https://i.pinimg.com/originals/6a/0c/f5/6a0cf528ceefa4069e33665ce52ebe96.jpg);
     background-position: bottom;
     background-repeat: no-repeat;
     background-size: cover;
     text-align: center;
     justify-content: center;
     color: #fff;
}

/* main__form */
.main__form{
     padding: 2px;
     display: flex;
     flex-direction: column;
     align-items: start;
     padding: 10%;
}
.main__form h1{
     font-size: 1.6rem;
}
.main__form p{
     font-size: .9rem;
     color: rgb(206, 206, 206);
     font-weight: 400;
     margin-top: 20px;
}
.main__form p a{
     color: blueviolet;
}
form{
     width: 100%;
     display: flex;
     flex-direction: column;
     gap: 20px;
     align-items: center;
     justify-content: center;
     margin-top: 30px;
}
.form__input{
     width: 100%;
     max-width: 400px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 10px;
}
.form__input label{
     color: rgb(206, 206, 206);
     font-weight: 600;
}
.form__input input{
     width: 100%;
     padding: 10px 10px;
     border: none;
     outline: none;
     font-size: .9rem;
     border-radius: 6px;
     font-family: 'Poppins', sans-serif;
     box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1);
}
.form__input input:focus{
     outline: 1px solid lightblue;
}
/* check */
.form__check{
     display: flex;
     align-items: center;
     gap: 10px;
}
.form__check input[type="checkbox"]:checked {
     background: rgb(89, 49, 125);
}
/*  */
form button{
     width: 70%;
     padding: 10px 12px;
     background-color: blueviolet;
     color: #fff;
     font-family: 'Poppins', sans-serif;
     border: none;
     border-radius: 6px;
     font-weight: 500;
     border: 1px solid transparent;
     cursor: pointer;
}
form button:hover{
     color: blueviolet;
     background-color: #fff;
     border: 1px solid blueviolet;
}

@media screen and (min-width:600px) {
     main{
          grid-template-columns: repeat(2,1fr);
     }
     .main__imgLeft{
          height: 100%;
          background-position: center;
     }
}